In [1]:
import tabula
import pandas as pd
from tabula import read_pdf
import numpy

In [2]:
p = r"C:\Scripts\Covid-19-data\src\israeli_health_ministry_telegram\telegram_files\2020-04-09_חולים_ביישובים_מעל_5,000_╙в∙в╘в▒в≥в².pdf"

In [4]:
data_df = read_pdf(input_path=p,
                           # output_format="dataframe", 
                           pages="all",
                           stream=True,
                          silent=True)

In [13]:
data_df[3]

   אוכלוסי2ה 9נכ7ו,ן 7ל 2018- אבו גוש ישוב  מספר 1חולים Unnamed: 0
0                    אבו רוביעה (שבט)8,446            1        Abc
1                                בענה8,355            1        Abc
2                              בת חפר5,124            1        Abc
3                         דיר אל-אסד12,435            1        Abc
4                                 זמר6,926            1        Abc
5                              חורפיש6,288            1        Abc
6                         טובא-זנגריה6,648            1        Abc
7                              ירוחם10,126            1        Abc
8                          מג'דל שמס11,089            1        Abc
9                  מסעודין אל-עזאזמה16,644            1        Abc
10                               נחף13,167            1        Abc
11                             עספיא12,141            1        Abc
12                             עראבה25,876            1        Abc
13                        ערערה-בנגב17,465            1        Abc
14                             פרדסיה6,027            1        Abc
15                             קיסריה5,272            1        Abc
16                            קלנסוה22,740            1        Abc
17                          שערי תקוה5,584            1        Abc
18                            תל שבע19,850            1        Abc